
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 30px;
}

.card img{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  left: 0;
}

.card .hover-img{
  opacity: 0;
  transform: scale(0.8);
  transition: 0.4s;
}

.card .hover-product{
  width: 200px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: #2B2B28 1px solid;
  box-sizing: border-box;
  padding-top: 200px;
  opacity: 0;
  transform: scaleX(1);
  transition: 0.2s;
}



.card .desc{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  font-variant: small-caps;
  top: 210px;
  /* bottom: 140px; */
  opacity: 1;
}

.card .desc .sale{
  /* margin-top: 210px; */
  color: rgb(255, 123, 0);
  font-size: medium;
  font-style: normal;
  font-variant: small-caps;
  text-align: center;
}

.card .desc h3{
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.card .desc .product-description{
  margin-top: 10px;
  font-variant: normal;
  text-align: center;
  font-size: 11px;
  font-style: italic;
}

.card:hover .hover-img{
  opacity: 1;
  transform: scale(1);
}
.card:hover .hover-product{
  opacity: 1;
  transform: scaleX(1.2);
}


.hover-product .sale-tag{
  width: fit-content;
  padding: 5px;
  transform: scalex(0.8);
}

.hover-product .price-tag{
  margin-bottom: 20px;
  border: #E3B04B 1px solid;
  border-radius: 5px;
  width: fit-content;
  padding: 5px;
  transform: scalex(0.8);
}


.hover-product h3.true-price{
  color: #E3B04B;
}

.hover-product h3.before-sale{
  color: wheat;
  font-size: medium;
  text-decoration: line-through;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 800px) { 
  .card{
    transform: scale(0.8);
    margin: 0px;
  }
  .card .hover-product{
    opacity: 1;
  }
  .card .sale-tag,.card .price-tag{
    transform: scaleX(1);
  }
  .products{
    justify-content: space-evenly;
  }
}